<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="fail-message content">
    <h1>Blog Creation Failed</h1>
    <p>There was an error creating your blog. Please try again.</p>
    <a href="/newblog">Try Again</a>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>