<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>Welcome to the blogs website</h2>
      <p>Here you can find all the blogs that have been posted by the users</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
